<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>

</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    <h1>Travel App</h1>
  </div>
  <div class = "holder left">
  <div class ="holder city">
    <label for="city">Your destination:</label>
    <input type="text" id="city" placeholder="Enter the city name">
  </div>
  <div class ="holder dates">
    <label for="start">Start day:</label>
    <input required type="date" id="start">

    <label for="end">End day:</label>
    <input required type="date" id="end">
    
    <button id="generate" type = "submit"> Submit </button>
  </div>
</div>
  <div class ="holder entry">
    <div class = "title">Your Trip</div>
   <div id = "entryHolder">
    <div id="result-countdown"></div>
     <div class="entry description">Location:</div>
    <div id = "result-city"></div> 
        <div class="entry description">Start day:</div>
        <div id="result-start"></div>
    <div class="entry description">End day:</div>
   <div id = "result-end"></div>
  <div class="entry description">Length of your trip:</div>
   <div id = "result-length"></div>
    <div class="entry description">Weather:</div>
    <div id="result-weather"></div>
  </div></div>
    <div id="result-image"><img class="result-image"
        src="https://cdn.pixabay.com/photo/2017/06/05/11/01/airport-2373727_1280.jpg" alt='Image of a traveller'></div>
  </div>

  </div>
  <footer><a href="https://github.com/agatalts/travel-app" target=_blank>Open-source code</a> by Agata Latos</footer>


<script>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
    // Use the window load event to keep the page load performant
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/service-worker.js');
    });
  }
</script>

</body>
</html>