@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800);

body {
  background: #dff8ff;
  font-family: "Open Sans", Arial, sans-serif;
  color: #004d79;
}

h1 {
  margin: 0 auto;
  font-size: 30px;
}

a {
  color: #004d79;
  font-weight: 600;
}

a:hover {
  color: #002438;
}

.app {
  background: #bdebf6;
  border: 3px solid #004d79;
  border-radius: 5px;
  margin: 30px auto 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 90vw;
  display: grid;
  grid-template-rows: 70px auto auto 260px;
  grid-template-columns: 8fr 7fr;
  grid-template-areas:
    "hd hd"
    "left left"
    "right right"
    "photo photo";
}

.headline {
  grid-area: hd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.entry {
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#dates {
  display: block;
  margin: 0 auto;
  resize: vertical;
  border-radius: 0 15px 0 15px;
  padding: 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

label {
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: 5px;
}

::placeholder {
  color: #004d79;
  font-family: "Open Sans";
  font-size: 16px;
}

textarea,
input {
  color: #004d79;
  font-family: "Open Sans";
  font-size: 16px;
}

#city,
#start,
#end {
  display: block;
  margin: 0 auto;
  width: 150px;
  background: #dff9ff;
  border: 1px solid #004d79;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 7px;
}

.city {
  margin-bottom: 15px;
}

#generate {
  display: block;
  margin: 15px auto;
  padding: 7px 20px;
  border: 1px solid #004d79;
  border-radius: 8px;
  background-color: transparent;
  color: #004d79;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 250ms ease-in-out;
}

#generate:hover {
  border: 1px solid #004d79;
  background-color: #92bbe2;
  color: #004d79;
  cursor: pointer;
}

.title {
  font-size: 16px;
  text-decoration: underline;
  font-weight: 600;
  margin: 5px auto 10px;
}

.description {
  font-weight: 600;
  margin: 5px 0 1px;
}

#result-countdown,
#result-city,
#result-start,
#result-end,
#result-length,
#result-weather {
  min-height: 20px;
  display: flex;
  justify-content: center;
}

.result-image {
  max-height: 90%;
  max-width: 90%;
  margin-bottom: 20px;
  border-radius: 3px;
}

#result-image {
  grid-area: photo;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 90vw;
  margin: 0 auto;
  color: #004d79;
  padding-left: 10px;
  font-size: 12px;
}

@media (min-width: 900px) {
  .app {
    width: 700px;
    display: grid;
    grid-template-rows: 70px auto 260px;
    grid-template-columns: 8fr 7fr;
    grid-template-areas:
      "hd hd"
      "left right"
      "photo photo";
  }
  footer {
    width: 700px;
    padding-left: 70px;
  }

  .result-image {
    max-width: 60%;
  }
}
